.button {
  border: none;
  color: navy;
  background-color: whitesmoke;
  border: 2px solid navy;
  transition-duration: 0.4s;
  padding: 10px 24px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  position:relative;
  left: 27.5%;
  top: 1%;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  color: whitesmoke;
  background-color: navy;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
